{% extends 'base.html' %}

{% load static %}

{% block title %}
    
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card" style="width: 22rem;">
                            <img src="{% static 'img/download.jpg' %}" class="card-img-top mt-3" style="width: 50%;display: block;margin-left: auto;margin-right: auto;" alt="logo">
                            <div class="card-body">
                                <h6 class="card-title text-muted">Set up to see photos and videos from your friends.</h6>
                                <a href="#" class="btn btn-sm w-100 btn-primary"><i class="fab fa-facebook"> Login with Facebook</i></a>
                                <div class="row mt-2">
                                    <div class="col-md-5"><hr></div>
                                    <div class="col-md-2"><h6 class="text-muted">OR</h6></div>
                                    <div class="col-md-5"><hr></div>

                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-danger" style="height: 50%">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    <form action="{% url 'register' %}" method="post">

                                        {% csrf_token %}

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="email" class="form-control form-control-sm" value="{{data.email}}" name="email" id="email" aria-describedby="emailHelpId" placeholder="Email">
                                        <small id="emailHelpId" class="form-text text-muted"></small>
                                        </div>

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="text"
                                            class="form-control form-control-sm" name="username" value="{{data.username}}" id="username" aria-describedby="helpId" placeholder="Username">
                                        <small id="helpId" class="form-text text-muted"></small>
                                        </div>

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="text"
                                            class="form-control form-control-sm" name="fullname" value="{{data.fullname}}" id="fullname" aria-describedby="helpId" placeholder="Fullname">
                                        <small id="helpId" class="form-text text-muted"></small>
                                        </div>

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="password" class="form-control form-control-sm" value="{{data.newpassword}}" name="newpassword" id="newpassword" placeholder="Password">
                                        </div>

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="password" class="form-control form-control-sm" value="{{data.confirmpassword}}" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
                                        </div>

                                        <button type="submit" class="btn w-100 btn-primary mt-3"> Register </button>

                                    </form>

                                    <small class="mt-3">
                                        By <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In here, your are agreeing our all policies.
                                    </small>
                                </div>

                                <div class="card mt-4">
                            <div class="card-body">
                                If already had an account?? <a name="" id="" href="{% url 'login' %}" role="button"> Login >></a>
                            </div>
                        </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
    
{% endblock %}