{% extends 'base.html' %}

{% load static %}

{% block title %}
    
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card" style="width: 22rem;">
                            <img src="{% static 'img/download.jpg' %}" class="card-img-top mt-3" style="width: 50%;display: block;margin-left: auto;margin-right: auto;" alt="logo">
                            <div class="card-body">
                                <h6 class="card-title text-muted">Reset your password below.</h6>
                                <div class="row mt-2">
                                   
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{message.tags}}" style="height: 50%">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    <form action="{% url 'reset-password' uidb64 token %}" method="post">

                                        {% csrf_token %}

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="password" class="form-control form-control-sm" value="{{data.newpassword}}" name="newpassword" id="newpassword" placeholder="Password">
                                        </div>

                                        <div class="form-group">
                                        <label for=""></label>
                                        <input type="password" class="form-control form-control-sm" value="{{data.confirmpassword}}" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
                                        </div>

                                        <button type="submit" class="btn w-100 btn-primary mt-3"> Reset Password </button>

                                    </form>

                                </div>

                                <div class="card mt-4">
                                    <div class="card-body">
                                        If already had an account?? <a name="" id="" href="{% url 'login' %}" role="button"> Login >></a>
                                    </div>
                                </div>

                                <div class="card mt-4">
                                    <div class="card-body">
                                        Don't have an account?? <a name="Register" id="" class="" href="{% url 'register' %}" role="button"> REGISTER </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
    
{% endblock %}